* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: rgb(240, 192, 130); */
  padding: 20px;
}
.section {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(240, 192, 130, 0.9);
  /* border: 1px solid #000; */
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}
.title {
  color: rgb(209, 101, 0);
  padding: 10px;
}
